* {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

.fas {
	cursor: pointer;
}

.collection-item {
	padding: 0.5em;
	border-bottom: 1px solid orange;
	list-style: none;
	font-size: 1em;
}

.fas {
	padding: 0.5em;
}

.btn-large {
	margin: 0.5em;
}

.header {
	padding: 1.5em;
}

.main {
	min-height: 50vh;
}

.container {
	padding-top: 7%;
}

.page-footer {
	min-height: 20vh;
}
