<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/materialize.css" media="all">
		<link rel="stylesheet" href="css/style.css" media="all">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<title>ToDo List</title>
	</head>
	<body>
		<header class="light-blue header"> 
			<h1 class="center orange-text">Todo List</h1>
		</header>
		<main class="main grey darken-2"> 
		<article class="app container center-align">
			<input type="text" placeholder="New item" v-model="newTodo" @keyup.enter="addTodo(newTodo)">
			<ul>
				<li class="collection-item center-align" v-for="(todo, index) in todos" :key="index">{{todo}}<i class="fas fa-trash-alt right-align" @click="removeTodo()"></i></li>
			</ul>
			<button type="button" class="btn-large waves-effect waves-light orange" @click="addTodo(newTodo)">Add</button>
			<button class="btn-large waves-effect waves-light orange" @click="clearAllTodo()">Clear</button>
		</article>
		</main>
		<footer class="page-footer">
		
		
		
		
		</footer>
		<script src=js/materialize.js></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
