<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>To Do List</title>
	</head>
	<body>
		<header> 

		</header>
		<main> 
		<article class="app">
			<h2>Todo List</h2>
			<input type="text" placeholder="New item" v-model="newTodo" @keyup.enter="addTodo(newTodo)">
			<button type="button" @click="addTodo(newTodo)">Add</button>
			<ul>
				<li v-for="(todo, index) in todos" :key="index">{{todo}}</li>
				<button type="button" @click="removeTodo()">Cancel</button>
			</ul>
			<button @click="clearAllTodo()">Clear</button>
		</article>
		</main>
		<footer></footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
